body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b5b3ad;
}

.container {
    width: 5.3cm;
    height: 4cm;
    margin: auto;
}

.watch{
    position: absolute;
    width: 3cm;
    height: 4cm;
    float: left;
    margin-left: 1.05cm;
    border-radius: 0.45cm;
}

.mainscreen{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#185ebd;
    border-radius: 0.45cm;
}

.frame {
    z-index: 2; 
    width: 3.52cm;
    height: 4.41cm; 
    position: absolute;
    margin-left: -60.7%;
    margin-top: -7.5%;
}

.buttondiv {
    margin-left: 72.5%;
}