@font-face{
	font-family: 'digital-7';
	src: url('digital-7.ttf');
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bb0 ;
}

.container {
    width: 5.3cm;
    height: 4cm;
    margin: auto;
}

.watch{
    position: absolute;
    width: 3cm;
    height: 4cm;
    float: left;
    margin-left: 1.05cm;
    border-radius: 0.45cm;
}

.mainscreen{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.45cm;
    background-image: url("../resources/travel_background.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 275px;
}

.frame {
    z-index: 2; 
    width: 3.52cm;
    height: 4.41cm; 
    position: absolute;
    margin-left: -60.7%;
    margin-top: -7.5%;
}

.buttondiv {
    margin-left: 72.5%;
}

#Date{
    font-family: 'digital-7'; 
    font-size: 13px; 
    margin-top: -3.9cm; 
    font-weight: lighter; 
    text-shadow: 0px 0px 4px white;
}