.button{
    background-color: rgb(138, 136, 136);
	color: white;
	text-align: center;
    width: 7.5pt;
    height: 30pt;
    border: none;
    outline-width: 0;
}

.button:focus {
    outline: none;
}

.button:hover {
    cursor: pointer;
}

.button1 {
    margin-top: 15pt; 
    margin-left: 9.75pt; 
    float: left; 
    border-radius: 7.5pt;
}

.button2 {
    margin-top: 71.25pt; 
    margin-left: -31.5pt; 
    border-radius: 7.5pt;
}