.chatScreen{
    display: none;
    margin-top: 0.4cm;
    height: 102pt;
    margin-top: 11.4pt;
}

.chat{
    display: none;
    margin-top: 0.4cm;
    height: 79pt;
    margin-top: 11.4pt;
}

.recentChat{
    display: none;
}

.recentChat hr{
    width: 82.5pt; 
    border: 0; 
    height: 0.75pt; 
    background: rgb(161, 161, 161);
}

.chatPerson h2{
    margin-top: 1pt;   
    margin-left: -6pt; 
}

.chatPerson p{
    font-size: 7pt;
    margin-top: -6pt;
    margin-left: -5pt;
    width: 72pt;
    line-height: 1.3;
}

#addChat{
    width: 0.4cm; 
    margin-top: 1pt; 
    cursor: pointer; 
    float: right; 
    margin-right: 6pt;
}   

.chatIMG {
    max-height: 90%;
    max-width: 90%;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.messageSent, .messageReceived{
    margin-top: 5pt;
}

.messageReceived img{
    width: 0.5cm;
    float: left;
    margin-top: 5pt;
    margin-left: 2pt;
}

.messageSent img{
    width: 0.5cm;
    float: right;
    margin-top: 5pt;
    margin-right: 2pt;
}

.messageSent button{
    background-color: #afafaf;
    border: 1px solid #919191;
}

.messageReceived button, .messageSent button{
    width: 62pt;
}

.microphoneChat{
    display: "none";
    position: fixed;
    margin-top: 0pt;
    margin-left: 1pt;
    background-color: white;
    padding-left: 35pt;
    padding-right: 35pt;
    padding-top: 3pt;
}

.notification{
    display: none;
    margin-top: 0.4cm;
    height: 114pt;
    width: 85pt;
    margin-top: -0.5pt;
    z-index: 5;
    position: absolute;
    background-color: rgba(0,0,0,0.8); 
    color: white;
}

.emoji {
    width: 1cm;
    cursor: pointer;
}

.selectEmoji{
    display: none;
    margin-top: 0.4cm;
    height: 102pt;
    margin-top: -100pt;
}