.newsscreen {
    display: none;
    position: absolute;
    height: 100%;
    width: 2.985cm;
    background-color: white;
    z-index: 3;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    margin-left: 0.01cm;
}

.news {
    display: block;
    margin-top: 0px;
    overflow: hidden;
    height: 136px;
    position: absolute;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}

.news, .frame, .newsStory {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    -webkit-user-drag: none;
}

.news p {
    font-size: 6px;
    line-height: 1.1;
}

.news a{
    text-decoration: none; 
    color: black;
}

.news hr{
    width: 110px; 
    border: 0; 
    height: 1px; 
    background: rgb(161, 161, 161);
}

.newsStory {
    display: none;
    margin-top: 0px;
    overflow: hidden;
    height: 136px;
    position: absolute;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}

.newsStory p {
    font-size: 8px;
}