.popup {
    display: none; 
    position: absolute; 
    z-index: 5; 
    padding-top: 0.5cm;
    padding-right: 0.2cm; 
    padding-bottom: 0cm;
    border-radius: 0.45cm;
    left: 0;
    top: 0;
    width: 3cm; 
    height: 3.5cm; 
    margin-left: -0.1cm;
    margin-top: 0cm;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4); 
}

.popupcontent {
    background-color: #fefefe;
    padding: 15pt;
    border: 0.75pt solid #888;
    width: 1.5cm;
    height: 2.2cm;
    margin-left: 0.2cm;
    border-radius: 0.45cm;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    -webkit-user-drag: none;
}

.popupcontent p {
    font-size: 7pt;
}

.popupcontent a{
    text-decoration: none;
    color: black;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 11.25pt;
    font-weight: bold;
    margin-right: -0.35cm;
    margin-top: -0.45cm;
}
  
.close:hover, .close:focus {
    cursor: pointer;
}

.popupcontent img {
    width: 0.2cm; 
    margin-left: 1.5cm;
    margin-top: -0.25cm; 
    position: absolute; 
    display: none;
}