.postScreen{
    display: none;
    margin-top: 0.4cm;
    height: 102pt;
    margin-top: 11.4pt;
}

.postItem {
    text-align: left;
    margin-left: 6pt;
    margin-right: 6pt;
}

.user {
    width: 0.4cm;
    vertical-align: middle;
}

.postItem p {
    font-size: 7pt;
}

.postedImg {
    width: 2.4cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.postedVideo {
    width: 2.4cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.postItem p, .postedImg, .user{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    -webkit-user-drag: none;
}

#viewPost{
    display: none; 
    position: absolute; 
    z-index: 5; 
    padding-top: 0.5cm;
    padding-right: 0.2cm; 
    padding-bottom: 0cm;
    border-radius: 0.45cm;
    width: 3cm; 
    height: 3.5cm; 
    overflow: hidden;  
    background-color: rgba(0,0,0,0.9); 
}

#viewImgLarge {
    margin-top: 10pt;
    width: 2.8cm;
    display: none;
}

#viewVideoLarge {
    margin-top: 15pt;
    width: 2.8cm;
    display: none;
}