.postScreen{
    display: none;
    margin-top: 0.4cm;
    height: 102pt;
    margin-top: 11.4pt;
}

.recentPosts{
    display: none;
}

.postItem {
    text-align: left;
    margin-left: 6pt;
    margin-right: 6pt;
}

.user {
    width: 0.4cm;
    vertical-align: middle;
}

.postItemText {
    font-size: 7pt;
}

.postedImg {
    width: 2.4cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.postedVideo {
    width: 2.4cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.recentPosts, .postItemText, .postedImg, .user, .newPost, .newPost img,.selectPost, .confirmationPopupContent{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    -webkit-user-drag: none;
}

#viewPost{
    display: none; 
    position: absolute; 
    z-index: 4; 
    padding-top: 0.5cm;
    padding-right: 0.2cm; 
    padding-bottom: 0cm;
    border-radius: 0.45cm;
    width: 3cm; 
    height: 3.5cm; 
    overflow: hidden;  
    background-color: rgba(0,0,0,0.9); 
}

#viewImgLarge {
    margin-top: 10pt;
    max-width: 2.8cm;
    max-height: 2.8cm;
    display: none;
}

#viewVideoLarge {
    margin-top: 15pt;
    width: 2.8cm;
    display: none;
    cursor: pointer;
}

.newPost{
    display: none;
    position: absolute; 
    z-index: 4;
    margin-top: 0.4cm;
    height: 102pt;
    margin-top: 11.4pt;
}

.newPost p {
    font-size: 6pt;
}

.newPost img{
    width: 1cm; 
    padding: 5pt; 
    cursor: pointer;
}

.selectPost {
    display: none; 
    height: 102pt;
}

.selectIMG{
    width: 1.2cm;
    cursor: pointer;
    display: none;
}

.selectVideo{
    width: 1.2cm;
    cursor: pointer;
    display: none;
}

#confirmationPopup{
    display: none; 
    position: absolute; 
    z-index: 4; 
    padding-top: 0.5cm;
    padding-right: 0.2cm; 
    padding-bottom: 0cm;
    border-radius: 0.45cm;
    left: 0;
    top: 0;
    width: 3cm; 
    height: 3.5cm; 
    margin-left: -0.1cm;
    margin-top: 0cm;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4); 
}

#confirmationPopupContent{
    background-color: #fefefe;
    padding: 15pt;
    border: 0.75pt solid #888;
    width: 1.5cm;
    height: 0.2cm;
    margin-left: 0.2cm;
    margin-top: 27pt;
    border-radius: 0.45cm;
}

#confirmationPopupContent p{
    font-size: 7pt;
    width: 44pt;
    margin-top: -10pt;
}

#confirmationPopupContent img{
    width: 0.5cm;
    margin-top: 6pt;
    cursor: pointer;
}

.locationShare{
    display: none;
    position: absolute; 
    z-index: 4;
    margin-top: 0.4cm;
    height: 102pt;
    margin-top: 11.4pt;
}

#locationShareIMG{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6pt;
}

.locationShare p{
    font-size: 9pt;
    margin-top: 1pt;
}

.confirmationButtonsLocation{
    width: 0.7cm;
    margin-top: -4pt;
    cursor: pointer;
}