.settings, .help{
    display: none;
    margin-top: 0.4cm;
    height: 102pt;
    margin-top: 11.4pt;
    text-align: left;
    position: absolute; 
    z-index: 3;
}

.settings p{
    font-size: 8pt;
    margin-left: 3pt;
}