.sidebar {
    top: 0;
    position: absolute;
    height: 3.99cm;
    width: 0;
    background-color: #185ebd;
    overflow-x: hidden;
    transition: 0.4s;
    margin-top: 2.1cm;
    margin-left: 40px;
    border-radius: 17px;
    overflow: hidden;
}

.sidebar img {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    margin-right: 18px;
    width: 10px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar a:hover {
  color: #cccccc;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 40px;
    padding: 5px;
    margin-top: 10px;
}

.column p{
    font-size: 10px;
    color: white;
}
