.sidebar {
    top: 0;
    position: absolute;
    height: 151px;
    width: 0;
    z-index: 2;
    background-color: #0000cc;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 80px;
    margin-left: 40px;
    border-radius: 17px;
    overflow: hidden;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    margin-right: 18px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar a:hover {
  color: #cccccc;
}