.topbar {
    height: 15px;
    overflow: hidden;
    background-color: black;
    position: fixed;
    width: 3cm;
    z-index: 4;

}

.topbar p{
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin-top: 0px;
    padding: 4px 5px;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    -webkit-user-drag: none;
}

.battery {
    margin-left: 28px;
}

.topbar img {
    width: 15px; 
    margin-top: 1.5px; 
    margin-left: -6px;
    content:url("../resources/battery.png");
}