.news {
    margin-top: -15px;
    overflow: hidden;
    height: 108px;
    z-index: 3;
    position: absolute;
}

.newstitle {
    font-size: 6px;
    line-height: 1.1;
}

.newstitle a{
    text-decoration: none; 
    color: black;
}